.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  min-height: 100vh;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
}
