h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  line-height: 56px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  line-height: 24px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
  line-height: 24px;
}
