nav {
  width: calc(100vw - 40px);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 20px;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 100px 0px 20px;
  background-color: #262626;
  border-radius: 80px;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav-links a:hover {
  color: #f39c12;
}
